body {
	height:100%;
}

p {
	text-align:justify;
}

#header_bg {
	position: absolute;
	z-index:-2;
	width: 100%;
	height: 31px;
	background-color: #FF7F43;
}

.hearts_bg {
	position: absolute;
	background-image: url('../img/bg.png');
	background-repeat: repeat;
	z-index: -1;
	right: 0px;
	width: 50%;
	height: inherit;
}

#header {
	height: 31px;
	background-color: #FF6613;
	color: #FFFFFF;
	position: relative;
}

#header > div {
	height: inherit;
}

.logotype {
	position: absolute;
	left: 0px;
	display: inline-block;
	border-right: 5px solid white;
}

.toolbar {
	position: absolute;
	right: 0px;
	background-color: #823939;
	border-left: 5px solid white;
	border-right: 5px solid white;
	width: 308px;
}

.toolbar > div, .toolbar > a {
	display: block;
	float: left;
	height: inherit;
	margin-left:10px;
}

#donate{
	width: 81px;
	background: url('../img/btn_donate.png');
}
#donate:hover {
	background: url('../img/btn_donate_rollover.png');
}
#youtube{
	width: 31px;
	background: url('../img/btn_youtube.png');
}
#youtube:hover {
	background: url('../img/btn_youtube_rollover.png');
}
#facebook{
	width: 31px;
	background: url('../img/btn_facebook.png');
}
#facebook:hover {
	background: url('../img/btn_facebook_rollover.png');
}

#language {
	color: #FFFFFF;
	font-size: 11px;
	padding: 7px 0 0 10px;
}
#language a {
	color: #FFFFFF;
	text-transform: uppercase;
}

#navbar {
	background-color: #FFFFFF;
}

#logo {
	display: block;
	margin: 10px 0;
}

#nav {
	margin-top: 90px;
	text-transform: uppercase;
}

#nav a {
	color: #000000;
	font-size: 15px;
	text-decoration:none;
}
#nav a:hover {
	color: #FF7D4B;
}

#content {
	background-color: #FDF6EC;
	border-top: 2px solid #FF7D4B;
}

.photos {
	overflow: hidden;
}

.photos img {
	max-width: none;
}

.columnleft div {
	margin-top: 30px;
}

#footer {
	background-color: #FDEACC;
	border-top: 2px solid #FF7D4B;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	text-transform: uppercase;
}
#footer address {
	margin: 0;
}
#footer abbr {
	margin-left: 15px;
	border: none;
}
#footer2 {
	height: 31px;
	background: url('../img/bg.png');
}