body {
	height:100%;
}

h1{
	text-transform: uppercase;
}

/*************************************
** HEADER
**************************************/
#header_bg {
	position: absolute;
	top:0;
	left:0;
	z-index:-2;
	width: 100%;
	height: 31px;
	background-color: #FF6612;
}

#header_bg2 {
	position: absolute;
	background-image: url('../img/bg.png');
	background-repeat: repeat;
	z-index: -1;
	right: 0px;
	width: 50%;
	height: inherit;
}

#header {
	height: 31px;
	background-color: #F28143;
	color: #FFFFFF;
	position: relative;
}

#header > div {
	height: inherit;
}

#logotype {
	position: absolute;
	left: 0px;
	display: inline-block;
	border-right: 5px solid white;
	width: 40%;
	min-width:299px;
	background-color: #FF6612;
}

#toolbar {
	position: absolute;
	right: 0px;
	background-color: #330d0c;
	border-left: 5px solid white;
	border-right: 5px solid white;
	width: 315px;
}

/* hide logotype when there's not enough
   space for both logotype and toolbar  */
@media (max-width: 630px) {
  #logotype {
	display:none;
  }
  #header {
	border-right: 5px solid white;
  }
  #toolbar {
	left:0px;
  }
}

#toolbar > div,
#toolbar > a,
#toolbar > form {
	display: block;
	float: left;
	height: inherit;
	margin-left:10px;
}

#donate{
	width: 81px;
}

#youtube{
	width: 31px;
	background: url('../img/btn_youtube.jpg');
}
#youtube:hover {
	background: url('../img/btn_youtube_rollover.jpg');
}

#facebook{
	width: 31px;
	background: url('../img/btn_facebook.jpg');
}
#facebook:hover {
	background: url('../img/btn_facebook_rollover.jpg');
}

#language {
	color: #FFFFFF;
	font-size: 11px;
}

#language a {
	display: block;
	float: left;
	padding: 6px 5px 8px 5px;
	height: 17px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}
#language a:hover,
#language a.current {
	background-color: #90696a;
}

/*************************************
** NAVIGATION
**************************************/
#navbar {
	background-color: #FFFFFF;
}

#logo {
	display: block;
	margin: 15px 0 10px 0;
}

#nav {
	margin-top: 90px;
	text-transform: uppercase;
}
@media (max-width: 767px) {
  #nav {
    margin-top:0px;;
  }
}

#nav a {
	color: #000000;
	font-size: 15px;
	text-decoration: none;
}

#nav a:hover,
#nav.home a.home,
#nav.about a.about,
#nav.services a.services,
#nav.partners a.partners,
#nav.events a.events,
#nav.gallery a.gallery,
#nav.contact a.contact {
	color: #FB4F11;
}

/*************************************
** CONTENT
**************************************/
#content {
	background-color: #FAF8F9;
	background-color: #FCE5BF;
	border-top: 2px solid #FB4F11;
	position: relative;
}

#content a {
	color: #000000;
}

#content ul{
	list-style-type: none;
	margin: 0;
}

#content .left > div,
#content .right > div {
	padding: 15px 25px;
}

#content .left p {
	text-align:justify;
	margin-top: 15px;
}

#content .left {
	position: relative;
	box-shadow: 8px 0px 8px -1px #999;
	background-color: rgb(247, 211, 153);
}
@media (max-width: 767px) {
  #content .left {
	box-shadow: none;
  }
}

#content .topimage {
	background-repeat: repeat-x;
	padding-top: 60px;
}

#content .bottomimage {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-bottom: 220px;
}
@media (max-width: 767px) {
  #content .bottomimage {
    background: none !important;
	padding-bottom: 15px;
	box-shadow: none;
  }
}

/*************************************
** HOME PAGE
**************************************/
.photos {
	overflow: hidden;
}

.photos img {
	max-width: none;
}

/*************************************
** SERVICES PAGES
**************************************/
#content.services .left li {
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

/*************************************
** PARTNERS PAGE
**************************************/
#content.partners .right li {
	margin-top: 10px;
}

#content.partners .right a {
	text-transform: uppercase;
	color: #185E46;
	font-weight: bold;
}

/*************************************
** CONTACT PAGE
**************************************/
#content.contact .topimage {
	padding-top: 130px;
}
#content.contact {
	text-transform: uppercase;
}
#content.contact a.map {
	display: block;
	height: 220px;
}
#content.contact address strong{
	font-size: 11px;
}
#content.contact a{
	font-weight: bold;
	color: #185E46;
}
#content.contact table{
	margin: 15px 0;
}
#content.contact table td{
	padding: 2px 3px;
}

/*************************************
** FOOTER
**************************************/
#footer {
	background-color: #FDEACC;
	border-top: 2px solid #FB4F11;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	text-transform: uppercase;
}
#footer address {
	margin: 0;
}
#footer abbr {
	margin-left: 15px;
	border: none;
}
#footer2 {
	height: 31px;
	background: url('../img/bg.png');
}