<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>
		{{ page.title }} - Community League of the Heights
	</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<link href="/assets/css/bootstrap.custom2.css" rel="stylesheet" media="screen">
	<link href="/assets/css/cloth.css" rel="stylesheet">
	<script type="text/javascript">
		/*
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-XXX-X']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		*/
	</script>
  </head>
  <body>
	<div id="header_bg">
		<div id="header_bg2"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span7" id="header">
				<div id="logotype">
					<a href="/">
						<img src="/assets/img/logotype.gif" alt="Community League Of The Heights">
					</a>
				</div>
				<div id="toolbar">
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="6JL2H83ALD2AS">
					<input id="donate" type="image" src="/assets/img/btn_donate.jpg" border="0" name="submit" alt="Donate via PayPal">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					<a id="youtube" title="Youtube"></a>
					<a id="facebook" title="Facebook" href="https://www.facebook.com/pages/Community-League-of-the-Heights-Cloth/111001935601500"></a>
					<div id="language">
						<a href="#l=en" id="en" title="English">English</a>
						<a href="#l=es" id="es" title="Spanish">Spanish</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="navbar">
			<div class="span2">
				<a href="/" id="logo">
					<img src="/assets/img/cloth_logo.png" alt="CLOTH">
				</a>
			</div>
			<div class="span5">
				<ul id="nav" class="inline {{ page.category }}">
					<li>
						<a href="/about.html" class="about">
							About us
						</a>
					</li>
					<li>
						<a href="/services.html" class="services">
							Services
						</a>
					</li>
					<li>
						<a href="/partners.html" class="partners">
							Partners
						</a>
					</li>
					<li>
						<a href="/events.html" class="events">
							Events
						</a>
					</li>
					<li>
						<a href="/gallery.html" class="gallery">
							Gallery
						</a>
					</li>
					<li>
						<a href="/contact.html" class="contact">
							Contact
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row {{ page.category }}" id="content">
			{{ content }}
		</div>
	</div>
    
	<div class="row" id="footer">
		<address>
			500 West 159th St.
			New York, NY 10032
			<abbr title="Phone">P:</abbr> (212) 795-4779
			<abbr title="Fax">F:</abbr> (212) 740-5037
		</address>
	</div>
	<div class="row" id="footer2">
	</div>
	<script src="/assets/js/jquery-1.8.3.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.cycle.all.latest.js"></script>
	<script src="/assets/js/cloth.js"></script>
  </body>
</html>