---
layout: main
category: services
---

<div class="span left{% if page.aside_image %} bottomimage" style="background-image: url('{{ page.aside_image }}'){% endif %}">
	<div>
		<h1>{% if page.language == 'es' %}Servicios{% else %}Services{% endif %}</h1>
		<ul>
			{% for p in site.pages %}
				{% if p.language == page.language and p.parent == 'services' %}
				<li>
					<a href="{{ p.url }}">
						{{ p.title }}
					</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
<div class="span right{% if page.top_image %} topimage" style="background-image: url('{{ page.top_image }}'){% endif %}">
	<div>
		<h2>{{ page.title}}</h2>
		{{ content }}
	</div>
</div>
